{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %} 
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            {% include "bag/bag-total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "bag/checkout-buttons.html" %}
                            <p class="text-muted mb-5">A summary of your bag contents is below</p>
                        </div>
                    </div>
                    {% for item in bag_items %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "bag/product-image.html" %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "bag/product-info.html" %}
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0">Price Each: ${{ item.product.price }}</p>
                                <p><strong>Subtotal: </strong>${{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include "bag/quantity-form.html" %}
                            </div>
                        </div>
                        <div class="row"><div class="col"><hr></div></div>
                    {% endfor %}
                    <div class="btt-button shadow-sm rounded-0 border border-black">
                        <a class="btt-link d-flex h-100">
                            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                        </a>	
                    </div>
                </div>
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% include "bag/product-image.html" %}.       
                                </td>
                                
                                <td class="py-3">
                                    {% include "bag/product-info.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    {% include "bag/quantity-form.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "bag/checkout-buttons.html" %}
                                </td>
                            </tr>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Return Home</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Sign up to my mailing list to stay updated</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
  </div>
  
  <!-- Begin Mailchimp Signup Form -->
  <div class="chimp container flex-column">
    <div id="mc_embed_signup">
        <form action="https://hotmail.us21.list-manage.com/subscribe/post?u=8c9abf1f1f86b1de36218b5a4&amp;id=45dda0ab3e&amp;f_id=00358ee1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h2>Subscribe</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
    </label>
      <input type="email" value="" name="EMAIL" class="required email chimp-email" id="mce-EMAIL" required>
      <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
    </div>
      <div id="mce-responses" class="clear foot">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8c9abf1f1f86b1de36218b5a4_45dda0ab3e" tabindex="-1" value=""></div>
            <div class="optionalParent">
                <div class="clear foot">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    <p class="brandingLogo"><a href="http://eepurl.com/im1bKM" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
                </div>
            </div>
        </div>
    </form>
    </div>
  </div>
  <!--End mc_embed_signup-->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>

    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var qty = $(`#id_qty_${itemId}`).val();
        var data = {'csrfmiddlewaretoken': csrfToken, 'quantity':qty};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}