{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container carousel-container d-none d-sm-block">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ MEDIA_URL }}M-Beauty-logo.JPG" class="d-block w-100" alt="m-beauty logo">
        </div>
        <div class="carousel-item">
          <img src="{{ MEDIA_URL }}pink-flowers-nails.jpg" class="d-block w-100" alt="pink flowers">
        </div>
        <div class="carousel-item">
          <img src="{{ MEDIA_URL }}diamond-nails.JPG" class="d-block w-100" alt="diamond gel nails">
        </div>
        <div class="carousel-item">
          <img src="{{ MEDIA_URL }}glitter-nails.jpg" class="d-block w-100" alt=" glitter gel nails">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="book-now container-fluid mt-5">
  <div class="row">
      <div class="col text-center mt-3">
          <h2 class="logo-font">Booking Beauty</h2>
          <hr class="w-50 mb-1">
      </div>
  </div>
</div>

<div id="opacity" class="book-now-card border-0 col-12 col-md-6 offset-md-3 my-3">
  <div class="col-12">
    <div class="book-card border-0 opacity card row text-center">
      <div class="card-header">
        Gel Nails
      </div>
      <div class="card-body">
        <h5 class="card-title">Gel Nail Extensions</h5>
        <p class="card-text">All lengths and designs included!</p>
        <a href="{% url 'bookings' %}" class="btn action-btn border mb-3 px-4 mx-2">Book Now</a>
      </div>
    </div>
    <div class="book-card border-0 opacity card row mt-3 text-center">
      <div class="card-header">
        Shellac
      </div>
      <div class="card-body">
        <h5 class="card-title">Shellack</h5>
        <p class="card-text">Gel polish applied on natural nails only.</p>
        <a href="{% url 'bookings' %}" class="btn action-btn border mb-3 px-4 mx-2">Book Now</a>
      </div>
    </div>
    <div class="book-card border-0 opacity card row mt-3 text-center">
      <div class="card-header">
        Manicure
      </div>
      <div class="card-body">
        <h5 class="card-title">Manicure</h5>
        <p class="card-text">With strengthener</p>
        <a href="{% url 'bookings' %}" class="btn action-btn border mb-3 px-4 mx-2">Book Now</a>
      </div>
    </div>
    <div class="book-card border-0 opacity card row mt-3 text-center">
      <div class="card-header">
        Eyebrow Henna
      </div>
      <div class="card-body">
        <h5 class="card-title">Eyebrow henna</h5>
        <p class="card-text">Nourishing colouring process which lasts on the hair up to 8 weeks, and on the skin for up to two weeks.</p>
        <a href="{% url 'bookings' %}" class="btn action-btn border mb-3 px-4 mx-2">Book Now</a>
      </div>
    </div>
    <div class="book-card border-0 opacity card row mt-3 text-center">
      <div class="card-header">
        Eyebrow Lamination
      </div>
      <div class="card-body">
        <h5 class="card-title">Eyebrow Lamination</h5>
        <p class="card-text">Process which changes the structure of the hair.</p>
        <a href="{% url 'bookings' %}" class="btn action-btn border mb-3 px-4 mx-2">Book Now</a>
      </div>
    </div>
    <div class="book-card border-0 opacity card row mt-3 text-center">
      <div class="card-header">
        Shape & Tint
      </div>
      <div class="card-body">
        <h5 class="card-title">Shape & Tint</h5>
        <p class="card-text">Shape and tint service flexible.</p>
        <a href="{% url 'bookings' %}" class="btn action-btn border mb-3 px-4 mx-2">Book Now</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
      <div class="col text-center mt-3">
          <h2 class="logo-font">My Price List</h2>
          <hr class="w-50 mb-1">
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-12 col-sm-8 offset-sm-2">
    <img src="{{ MEDIA_URL }}price-list.JPG" class="price-list d-block w-100" alt="m-beauty price list" style="min-height: 35rem;max-height: 50rem;">
  </div>
</div>


<div class="container-fluid mt-5">
  <div class="row">
      <div class="col text-center mt-3">
          <h2 class="logo-font">Sign up to my mailing list to stay updated</h2>
          <hr class="w-50 mb-1">
      </div>
  </div>
</div>

<!-- Begin Mailchimp Signup Form -->
<div class="chimp container flex-column">
  <div id="mc_embed_signup">
      <form action="https://hotmail.us21.list-manage.com/subscribe/post?u=8c9abf1f1f86b1de36218b5a4&amp;id=45dda0ab3e&amp;f_id=00358ee1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
          <h2>Subscribe</h2>
          <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
  <div class="mc-field-group">
    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
  </label>
    <input type="email" value="" name="EMAIL" class="required email chimp-email" id="mce-EMAIL" required>
    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
  </div>
    <div id="mce-responses" class="clear foot">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8c9abf1f1f86b1de36218b5a4_45dda0ab3e" tabindex="-1" value=""></div>
          <div class="optionalParent">
              <div class="clear foot">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                  <p class="brandingLogo"><a href="http://eepurl.com/im1bKM" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
              </div>
          </div>
      </div>
  </form>
  </div>
</div>
<!--End mc_embed_signup-->


{% endblock %}
