html {
    height: 100%;
}

body {
    background: url('/media/images/stars.jpeg') no-repeat center center fixed;
    background-size: cover;
} 

.header-container {
    height: 150px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo {
    width:100px;
}

#navbar {
    height: 120px;
} 

.nav-link {
    font-size: 20px;
    text-align: right;
    margin-top: 20px;
    color: white;

}


.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


#opacity {
    opacity: 0.9;
}

.carousel-container {
    width: 80%;
    margin: auto;
}

.carousel-inner > .carousel-item > img {
    width: 100%;
    margin: auto;
}

.card-img-top {

}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}