html {
    height: 100%;
}

body {
    background: url('/media/images/stars.jpeg') no-repeat center center fixed;
    background-size: cover;
} 

.header-container {
    height: 150px;
}


.dropdown-menu,
footer,
.book-btn,
.page-card-body,
.accordion-button,
.accordion-body,
.sign-up-container {
    background-color: #aa83b9;
    text-align: center;
}

.contact,
.page-card-header,
.action-btn:hover
{
    background-color: hsl(285, 24%, 53%);
}

.page-card-header,
.action-btn,
.action-btn:hover,
.contact,
.book-btn:hover {
    color: #d2a8e2;
    text-align: center;
}

.action-btn,
.book-btn:hover {
    text-decoration: none;
}

.sign-up-container {
    width: 95%;;
}

.header-text {
    width: 100%;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

.sign-up-container input {
    width: 90%;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo {
    width:100px;
}

#navbar {
    height: 120px;
} 

.nav-link {
    font-size: 20px;
    text-align: right;
    margin-top: 20px;
    color: white;

}

.cancel-change-btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


#opacity {
    opacity: 0.9;
}

.carousel-container {
    width: 80%;
    margin: auto;
}

.carousel-inner > .carousel-item > img {
    width: 100%;
    margin: auto;
}

.card-img-top {

}

.sign-up-container {
    width: 95%;;
}

/* .signup, .login {
    display: flex;

} */

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* media queries */

@media (min-width: 768px) {
    .sign-up-container {
    width: 50%;
    }
}

@media (min-width: 992px) {
    .sign-up-container {
    width: 35%;
    }
}

@media (max-width: 992px) {
    .cancel-change-btn {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}