html {
    height: 100%;
}

body {
    background: url('/media/stars.jpeg') no-repeat center center fixed;
    background-size: cover;
} 

.header-container {
    height: 150px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

#navbar {
    height: 120px;
} 

.nav-link {
    font-size: 20px;
    text-align: right;
    margin-top: 20px;
    color: white;

}

#opacity {
    opacity: 0.9;
}