html {
    height: 100%;
}

body {
    background: url('/media/stars.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 100px);
} 

.header-container {
    padding-top: 110px;
}

.main-logo-link {
    width: fit-content;
}

.logo {
    /* position: fixed;
    width: 50px; */
    margin: auto;
    margin-top: 15px;
}

.logo img {
    max-width: 100px;
    max-height: 80px;
}

.logo-font {
    text-transform: uppercase;
}

/* #navbar-top {
    height: 120px;
    background-color: hsl(286, 58%, 77%);
} 

#navbar {
    height: 120px;
    background-color: hsl(286, 58%, 77%);
}  */

.nav-link {
    font-size: 20px;
    text-align: right;
    margin-top: 20px;
    color: hsl(286, 58%, 77%);

}

.jumbotron {
    background-color: hsl(286, 77%, 86%);
    width: 100%;
}

.card-header {
    background-color: hsl(286, 66%, 91%);
}

.book-card {
   
    
}

.dropdown-menu,
.book-btn,
.page-card-body,
.accordion-button,
.accordion-body,
.sign-up-container {
    background-color: #e5d0ff;
    text-align: center;
}

.footer-sm {
    background-color: hsl(286, 58%, 77%);
    color: white;
    font-size: 50px;
    justify-content: space-between;
    height: 25px;
}

footer {
    background-color: hsl(286, 58%, 77%);
    color: white;
    font-size: 50px;
    justify-content: space-between;
    height: auto;
}

.contact,
.page-card-header,
.action-btn:hover
{
    background-color: hsl(286, 58%, 77%);
    text-align: center;
}

.card-img-top {
    height: 750px;
}

#add-service input {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 90%;
}

#add-service > p:nth-child(4) > label {
    display: block;
}

#add-service textarea {
    max-width: 100%;
    width: 98%;
}

.action-btn,
.action-btn:hover,
.contact,
.book-btn:hover {
    color: #261f29;
    text-align: center;

}

.action-btn,
.book-btn:hover {
    text-decoration: none;
}

/*
.sign-up-container {
    width: 95%;;
}
*/

.header-text {
    width: 100%;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
}


.sign-up-container input {
    width: 50%;
}


/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.cancel-change-btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.btn-black {
    background: #aa83b9;
    color: white;
}

.btn-outline-black {
    background: white;
    color: rgb(170, 104, 228) !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #350042;
    color: white;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


#opacity {
    opacity: 0.9;
}

.carousel-container {
    width: 50%;
    margin: auto;
}

.carousel-inner > .carousel-item > img {
    width: 100%;
    margin: auto;
}

/*
.sign-up-container {
    width: 95%;;
}
*/

.signup, .login {
    display: flex;

} 

.service {
    width: auto;
    margin: auto;
}

.service img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* media queries */


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {

      /* Allauth form formatting */
  
  .allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
}


    .container {
      max-width: 80%;
    }
  }
  
  /* Product Form */
  
  .btn-file {
      position: relative;
      overflow: hidden;
  }
  
  .btn-file input[type="file"] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      opacity: 0;
      cursor: pointer;
  }
  
  .custom-checkbox .custom-control-label::before {
      border-radius: 0;
      border-color: #dc3545;
  }
  
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #dc3545;
      border-color: #dc3545;
      border-radius: 0;
  }


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.price-list {
    max-width: 800px;
}


@media (max-width: 992px) {

    /*
    body {
        height: calc(100vh - 116px);
    }
    */

    .service {
        width: 15rem;
        margin: auto;
    }

    .sign-up-container input {
        width: 90%;
    }

    /*
    .sign-up-container {
        width: 100%;
    }
    */

    /* .header-container {
        padding-bottom: 350px;
    }
     */
    /* .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } */

    .cancel-change-btn {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }


    .nav-link {
        font-size: 16px;
        text-align: right;
        margin-top: 10px;
        color: hsl(286, 58%, 77%);
    }


    .service {
        width: 15rem;
        margin: auto;
    }


    .footer-sm{
        height: 100px;
    }

    div.card-body.contact.mt-4 {
        font-size: 10px;
    }

    @media (max-width: 768px) {

    /*
    .sign-up-container {
    width: 50%;
    }
    */

    /*
    body {
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    */


    .book-now-card {
        max-width: fit-content;
    }

/*
    .carousel-container {
        padding-top: 1000px;
    }
    */

    #top-nav {
        height: 210px;
        background-color: hsl(286, 58%, 77%);
    }
    
     /*
    .header-container {
        padding-top: 110px;
    }

    .header-container {
        padding-top: 450px;
    } */
    
    /* body > div.container-fluid.mt-auto {
        padding-top: 5%;
    } */
}
    
    @media (max-width: 575px){
    
        #navbar-top {
            height: 210px;
            background-color: hsl(286, 58%, 77%);
        }
        
/*
        .book-now {
            padding-top: 800px;
        }
        */


    /* .nav-link {    
        font-size: 17px !important;
    } */

    /* .footer {
        font-size: 20px;
        height: 100px;
        text-align: center;
    } */

    }
}


@media (max-width: 575px) {

    

}