{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<style>
body > div.container-fluid.mt-auto {
    padding-top: 20%;
}
</style>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Booking Beauty</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
<div class="container-fluid my-3 rounded-0">
    <div class="col-6 offset-3 card text-center border-0">
        <div class="card-header page-card-header h2 rounded-0">Bookings</div>
        <div class="card-body page-card-body fs-6 p-0 mb-0 pt-4">
            <p class="lead">Welcome {{ user.username|title }}</p>
            <p>This is your bookings portal.
            <p>From this portal you will be able to make bookings and view existing bookings.
            <p>You will also be able to cancel any upcoming bookings.</p>
            <a href="{% url 'add_bookings' %}" class="btn action-btn mb-3 px-4 mx-2">Make booking</a>
            <a href="#collapse-bookings" class="btn action-btn mb-3 px-4 mx-2" data-toggle="collapse"
                role="button" aria-expanded="false" aria-controls="collapse-bookings">View bookings
            </a>
        </div>
    </div>
</div>  

<div class="table-responsive container-fluid my-3 border-0 collapse" id="collapse-bookings">
    <table class="table table-hover page-card-body">
        <thead class>
            <tr>
                {% if user.is_superuser %}
                <th scope="col">User</th>
                {% endif %}
                <th scope="col">Client</th>
                <th scope="col">Service</th>
                <th scope="col">Appointment</th>
                <th scope="col">Cancel</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    {% if user.is_superuser %}
                    <td class="table-text">{{ booking.user }}</td>
                    {% endif %}
                    <td class="table-text">{{ booking.first_name }} {{ booking.last_name }}</td>
                    <td class="table-text">{{ booking.service }}</td>
                    <td class="table-text">{{ booking.date }}, {{ booking.get_time_display }}</td>
                    <td> 
                        <div class="cancel-change-btn">
                            {% if booking.past_date != True %}
                            <a href="delete/{{ booking.id }}" class="btn action-btn">Cancel</a>
                            {% else%}
                            <p>Booking cannot be amended</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}           
        </tbody>
    </table>
</div>

{% endblock %}
