{% extends "base.html" %}

{% block extra_css %}
<style>
body > div.container-fluid.mt-auto {
    padding-top: 50%;
    position: fixed;

}

</style>
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

