{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Services</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        {% for service in gel_nail_services %}
            <div class="col-4">
                <div id="service" class="card">
                    <img src="{{ MEDIA_URL }}/glitter-nails.jpg" class="card-img-top" alt="glitter gel nails">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">All lengths and designs included!</p>
                    <p>€{{ service.price }}</p>
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for service in shellac_services %}
            <div class="col-4">
                <div id="service" class="card">
                    <img src="{{ MEDIA_URL }}/shellac.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Gel polish applied on natural nails only.</p>
                    <p>€{{ service.price }}</p>
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for service in manicure %}
            <div class="col-4">
                <div id="service" class="card">
                    <img src="{{ MEDIA_URL }}/shellac.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Gel polish applied on natural nails only.</p>
                    <p>€{{ service.price }}</p>
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for service in brow_services %}
            <div class="col-4 mt-5 mb-5">
                <div id="service" class="card">
                    <img src="{{ MEDIA_URL }}/eyebrows1.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Nourishing colouring process which lasts on the hair up to 8 weeks, and on the skin for up to two weeks.</p>
                    <p>€{{ service.price }}</p>
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for service in henna_brow_services %}
            <div class="col-4 mt-5 mb-5">
                <div id="service" class="card">
                    <img src="{{ MEDIA_URL }}/eyebrows1.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Process which changes the structure of the hair.</p>
                    <p>€{{ service.price }}</p>
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for service in Shape_tint %}
            <div class="col-4 mt-5 mb-5">
                <div id="service" class="card">
                    <img src="{{ MEDIA_URL }}/shellac.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Gel polish applied on natural nails only.</p>
                    <p>€{{ service.price }}</p>
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}