{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Services</h2>
            <hr class="w-50 mb-1">
            {% if user.is_superuser %}
            <a href="{% url 'add_services' %}" class="btn action-btn mb-3 px-4 mx-2">Add service</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        {% for service in gel_nail_services %}
        <div class="col-12 py-1 col-sm-6 py-sm-auto col-md-4">
                <div class="service card m-auto m-sm-1">
                    <img src="{{ MEDIA_URL }}/glitter-nails.jpg" class="card-img-top" alt="glitter gel nails">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">All lengths and designs included!</p>
                    <p>€{{ service.price }}</p>
                    {% if user.is_superuser %}
                    <a href="edit/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong>Edit | </strong></a>
                    <a href="delete/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong> Delete</strong></a><hr>
                    {% endif %}
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for service in shellac_services %}
            <div class="col-12 py-1 col-sm-6 py-sm-auto col-md-4">
                <div class="service card m-auto m-sm-1">
                    <img src="{{ MEDIA_URL }}/shellac.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Gel polish applied on natural nails only.</p>
                    <p>€{{ service.price }}</p>
                    {% if user.is_superuser %}
                    <a href="edit/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong>Edit | </strong></a>
                    <a href="delete/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong> Delete</strong></a><hr>
                    {% endif %}
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for service in manicure_services %}
            <div class="col-12 py-1 col-sm-6 py-sm-auto col-md-4">
                <div class="service card m-auto m-sm-1">
                    <img src="{{ MEDIA_URL }}/manicure2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">With strengthener</p>
                    <p>€{{ service.price }}</p>
                    {% if user.is_superuser %}
                    <a href="edit/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong>Edit | </strong></a>
                    <a href="delete/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong> Delete</strong></a><hr>
                    {% endif %}
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    <!-- </div> -->
    <!-- <div class="row"> -->
        {% for service in brow_services %}
            <div class="col-12 py-1 col-sm-6 py-sm-auto col-md-4">
                <div class="service card m-auto m-sm-1">
                    <img src="{{ MEDIA_URL }}/brow-lamination2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Brow perming, changes the structure of the hair, lasts 3-6 weeks. (Aftercare is crucial!)</p>
                    <p>€{{ service.price }}</p>
                    {% if user.is_superuser %}
                    <a href="edit/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong>Edit | </strong></a>
                    <a href="delete/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong> Delete</strong></a><hr>
                    {% endif %}
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for service in henna_brow_services %}
            <div class="col-12 py-1 col-sm-6 py-sm-auto col-md-4">
                <div class="service card m-auto m-sm-1">
                    <img src="{{ MEDIA_URL }}/eyebrows1.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Longer lasting nourishing tint, lasting 4-12 days on the skin and 6 weeks on the hair. (Minimal aftecare)</p>
                    <p>€{{ service.price }}</p>
                    {% if user.is_superuser %}
                    <a href="edit/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong>Edit | </strong></a>
                    <a href="delete/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong> Delete</strong></a><hr>
                    {% endif %}
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for service in shape_tint_services %}
            <div class="col-12 py-1 col-sm-6 py-sm-auto col-md-4">
                <div class="service card m-auto m-sm-1">
                    <img src="{{ MEDIA_URL }}/brow-shape-tint2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Gel polish applied on natural nails only.</p>
                    <p>€{{ service.price }}</p>
                    {% if user.is_superuser %}
                    <a href="edit/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong>Edit | </strong></a>
                    <a href="delete/{{ service.id }}" class="text-decoration-none edit-delete-link"><strong> Delete</strong></a><hr>
                    {% endif %}
                    <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>

{% endblock %}