{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Services</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        {% for service in gel_nail_services %}
            <div class="col-6">
                <div class="card" style="width: 50rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>€{{ service.price }}</p>
                    <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for service in shellac_services %}
            <div class="col-6">
                <div class="card" style="width: 50rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>€{{ service.price }}</p>
                    <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for service in brow_services %}
            <div class="col-6">
                <div class="card" style="width: 50rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>€{{ service.price }}</p>
                    <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for service in henna_brow_services %}
            <div class="col-6">
                <div class="card" style="width: 50rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>{{ service.name }}</strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>€{{ service.price }}</p>
                    <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}